<div class="container">

<h1>Stupid coaching</h1>


<div id="answer">
<h2><%= @answer %></h2>
<h3>-You</h3>
</div>

<div id="answer_coach">
<h2><%= @answer_coach %></h2>
<h3>-Your coach</h3>
</div>


<p id=link>
<%= link_to "ask your question", ask_path %>
</p>
</div>
