<h1>SUTPID Coaching</h1>
<h2>Ask your coach anything :</h2>
<div id="card_chat">
  <form action="/answer">
    <div id="zone_txt">
      <input type="text" name="answer" placeholder="taper ici" value="">
      <input type="submit" value="Ask!">
    </div>
  </form>
</div>
